.signup {
  padding-top: min(282px, 40vh);

  .input-icon {
    width: 1rem;
  }

  form {
    width: 397px;
  }

  @media screen and (max-width: 460px) {
    form {
      width: 85%;
    }
  }

  .auth-links {
    font-size: 0.75rem;
  }
}

.login {
  padding-top: min(315px, 40vh);

  .input-icon {
    width: 1rem;
  }

  form {
    width: 397px;
  }

  @media screen and (max-width: 460px) {
    form {
      width: 85%;
    }
  }

  .auth-links,
  .remember-me {
    font-size: 0.75rem;
  }
}
